################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ThirdParty
/libFLAC-8.dll
*.dll
